*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
header{
    width: 100%;
    height: 60px;
    background-color: brown;
    padding: 10px;
}
nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    float: right;
    margin-bottom: 100px;
    text-align: justify;
    justify-content: space-between;
    a
   
    
}
ul li {
    text-decoration: none;
    text-align: justify;
    justify-content: space-between;
    margin: 5px;
    font-size: 30px;
    margin-bottom: 50px;
   
    

}
nav{
    background-color:cyan;
}
body{
    width: 100%;
    height: 300px;
    background-color:bisque
}
h2{
    text-align: center;
    font-size: 40px;
    margin-left: 150px;
    margin-top: 200px;
}
  p{
    text-align: center;
    margin-left: 20px;
}
.row{
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 0, 0.628);
    display: flex;
    text-align: center;
    

}
.col{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    margin-left: 120px;
    margin-top: 10px;
    
}
footer
{
    padding: 50px;
    background-color:chocolate;
    height: 400px;
}
@media screen and (max-width: 400px){
    body{

        background-color: black;
        color:blue;
    }
    .row{
     display: flex;
     flex-direction: column;
    }
    .col{
        width: 350px;
        margin-left: 25px;
    }
}
    